//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import 'node_modules/dfe-frontend/packages/dfefrontend';

.govuk-header__link .govuk-header__logotype{
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype{
  content: url(/public/images/department-for-education_black.png);
  height: 30px;
}

// .govuk-service-navigation__container {
//   display: flex;
//   flex-direction: column;  // make items stack vertically
//   align-items: flex-start; // left-align contents
// }

.dfe-hero-banner {
  position: relative;
  width: 100vw; // full viewport width
  left: 50%;
  margin-left: -50vw;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__overlay {
    position: relative;
    z-index: 1;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // left-align overlays
    padding: 0rem 0; // vertical spacing
  }

  &__text-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #003a69;
    display: inline-block;
    margin-bottom: 1rem;

    &--h1 {
      padding: 1.5rem 2rem; // wider overlay for H1
      max-width: 100%;
    }

    &--p {
      padding: 0.5rem 1rem; // tighter overlay for paragraph & button
      max-width: fit-content;
    }
  }

  &__title {
    color: #003a69;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
  }

  &__body {
    font-size: 1.125rem;
    margin: 0;
  }

  @media (max-width: 768px) {
    min-height: 300px;

    &__overlay {
      width: 100%;
      padding: 3rem 0;
    }

    &__text-box--h1 {
      padding: 1rem 1.5rem;
    }

    &__text-box--p {
      padding: 0.5rem 0.75rem;
    }

    &__title {
      font-size: 1.75rem;
    }
  }
}

/* === DfE Full-width Card (50/50 layout, aligned within 3-column area) === */
.dfe-full-width-card {
  margin-bottom: 2rem;

  .govuk-width-container {
    padding-left: 0; /* remove inner padding so image touches left edge of content area */
    padding-right: 0;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: #f3f2f1; /* light grey */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }

  &__image {
    flex: 1 1 50%;
    min-height: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    flex: 1 1 50%;
    background: #f3f2f1;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    margin: 0 0 0.5rem 0;
    color: #505a5f;
    font-size: 1rem;
  }

  &__title {
    margin: 0 0 1rem 0;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.3;
  }

  &__link {
    color: #1d70b8;
    text-decoration: underline;
  }

  &__link:hover {
    color: #003078;
  }

  &__description {
    margin: 0;
    font-size: 1.125rem;
    color: #0b0c0c;
  }

  @media (max-width: 900px) {
    &__inner {
      flex-direction: column;
    }

    &__image,
    &__content {
      flex: 1 1 100%;
    }

    &__content {
      padding: 1.5rem;
    }
  }
}

/* === GOV.UK / DfE Header Search Alignment === */

.dfe-header__inner {
  display: block; /* remove default flex from GOV.UK header container */
}

.govuk-header__search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.govuk-header__search-form {
  display: flex;
  align-items: center;
  margin: 0;
}

.govuk-header__search-input {
  background: #fff;
  border: 2px solid #0b0c0c;
  color: #0b0c0c;
  border-radius: 0;
  height: 2.5rem;
  padding: 0 0.75rem;
  font-size: 1rem;
  width: 300px; /* set width of the input */
}

.govuk-header__search-input::placeholder {
  color: #505a5f;
}

.govuk-header__search-input:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  border-color: #0b0c0c;
}

/* Responsiveness */
@media (max-width: 640px) {
  .govuk-header__search-input {
    width: 100%;
  }

  .govuk-header__search {
    justify-content: flex-start;
    margin-top: 0.5rem;
  }
}
