{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
{% from "layouts/components/page-intro-banner.html" import pageIntroBanner %}
{% from "layouts/components/blue-content-box.html" import blueContentBox %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
{{ pageIntroBanner(
"How to manage a cyber incident response",
" ",
[
{
text: "Home",
href: "/home.html"
},
{
text: "What you need to know",
href: "/respond-to-attack-landing-page"
},
{
text: "How to manage a cyber incident response"
}
]
) }}
{% endblock %}



<!-- body content  -->
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body"> Being prepared for a cyber incident helps education settings strengthen the resilience of
            their services. Implementing a Cyber Response Plan (CRP) can assist schools in achieving the necessary level
            of readiness to effectively respond to incidents. 
            <br><br>
            The CRP is designed to be used by the organisation’s Senior Leadership Team (SLT) Digital Leader, working in
            collaboration with internal or external IT support and any other stakeholders who may be required to take
            specific actions or make key decisions during an incident.  
            <br><br>
            Having a Cyber Response Plan in place can:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>provide insight and examples of actions to be considered when preparing to detect and respond to an
                incident </li>
            <li>help conduct post-incident activities such as maintaining operational resilience and lessons learnt</li>
            <li>assist in identifying any adjustments needed to the cyber risk assessment</li>
        </ul>

        <h2 class="govuk-heading-m">Prepare</h2>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>Understanding the objectives of cyber security incident response planning</li>
            <li>Building a cyber security Incident Management Policy</li>
            <li>Building a cyber security Incident Response Plan with playbooks as required that cover specific types of
                incidents</li>
        </ul>

        <h2 class="govuk-heading-m">Respond to incidents by carrying out the Cyber Response Plan</h2>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>Detection and Reporting</li>
            <li>Triage and Analysis</li>
            <li>Containment</li>
            <li>Eradication</li>
            <li>Recovery</li>
            <li>Notification</li>
            <li>Post-Incident Review</li>
        </ul>

        <h2 class="govuk-heading-m">Continuous improvement</h2>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>Reviewing and testing policies, plans and procedures</li>
        </ul>

        <p>
            It is important to understand that the most effective incident response plan is one that best fits your
            requirements, organisational context, cyber security experience and security resources. There is a <a href="#" class="govuk-link">checklist
            that you can use</a> to ensure every step of the process has been considered, alongside <a href="#" class="govuk-link">links to organisations
            and resources</a> that can help you on this journey.
        </p>

    </div>
</div>


{% endblock %}