{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
{% from "layouts/components/page-intro-banner.html" import pageIntroBanner %}
{% from "layouts/components/blue-content-box.html" import blueContentBox %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
{{ pageIntroBanner(
"Our cyber security standards",
" ",
[
{
text: "Home",
href: "/home.html"
},
{
text: "Protect your school against cyber attacks",
href: "/protect-school-landing-page.html"
},
{
text: "Our cyber security standards"
}
]
) }}
{% endblock %}



<!-- body content  -->
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">The Cyber Security Standards are part of the <a href="#" class="govuk-link">DFE’s Digital
                and Technology
                Standards</a> and set clear expectations for cyber security in education settings.</p>

        <h2 class="govuk-heading-m">Why the standards are important</h2>

        <p class="govuk-body">Cyber security is the safeguarding of systems, networks, and data from cyber
            attacks. The methods of
            safeguarding range from advanced technologies such as firewalls and antivirus software, to basic yet
            essential practices such as backing up data and using strong passwords.<br><br>

            Meeting these standards shows your commitment to delivering resilient education services by reducing
            the risk of cyber attacks.<br><br>

            Cyber attacks can lead to:
        <ul class="govuk-list govuk-list--bullet">
            <li>pupil and staff data loss</li>
            <li>costly budgets from the unexpected costs of responding to a cyber attack</li>
            <li>financial loss</li>
            <li>identity theft</li>
        </ul>
        </p>

        <h2 class="govuk-heading-m">What the standards cover</h2>
        <p>Unlike the <a href="#" class="govuk-link">National Cyber Security Centre (NCSC) Cyber Essentials</a>, the DfE
            Cyber Security Standards are specifically for schools and colleges. The standards address the core
            principles of cyber governance, processes and strategy and provide guidance on:</p>

            <ul class="govuk-list govuk-list--bullet">
            <li>conducting a cyber risk assessment annually and reviewing every term</li>
            <li>creating and implementing a cyber awareness plan for students and staff</li>
            <li>securing digital technology and data with anti-malware and a firewall</li>
            <li>controlling and securing user accounts and access privileges</li>
            <li>licensing digital technology and keeping it up to date</li>
            <li>developing and implementing a data backup plan and reviewing annually</li>
            <li>reporting cyber attacks</li>
        </ul>
        <br>

        {% call blueContentBox() %}
        <h2 class='govuk-heading-m'>Simple actions to help you meet the standards</h2>
        <p class='govuk-body'>These 4 actions don’t require a large budget or IT staff, yet can help prevent data loss,
            unexpected costs of responding to a cyber attack, financial loss and identity theft:</p>
        <ol class="govuk-list govuk-list--number">
            <li>Implementing <a href="#" class="govuk-link">multi-factor authentication</a></li>
            <li>Awareness of threats such as <a href="#" class="govuk-link">ransomware</a> and phishing</li>
            <li>Ensuring <a href="#" class="govuk-link">password security</a></li>
            <li><a href="#" class="govuk-link">Backing up data</a></li>
        </ol>
        <p class='govuk-body'>While these actions can't guarantee complete prevention of an attack, they will reduce the
            likelihood, lessen the impact, and make incidents easier to manage if they do occur. </p>

        {% endcall %}


    </div>
</div>


{% endblock %}