{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
{% from "layouts/components/page-intro-banner.html" import pageIntroBanner %}
{% from "layouts/components/blue-content-box.html" import blueContentBox %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{{ pageIntroBanner(
"DfE Risk Protection Arrangement (RPA)",
" ",
[
{
text: "Home",
href: "/home.html"
},
{
text: "What you can do now",
href: "/protect-school-landing-page.html"
},
{
text: "DfE Risk Protection Arrangement (RPA)"
}
],
"/public/images/book-icon.png"
) }}
{% endblock %}


<!-- body content  -->
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">The RPA provides comprehensive risk protection for public sector schools and is an
            alternative to commercial insurance for the education sector. Here are some key points:</p><br>

        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Coverage:</span>
            The service is funded by the UK government and provides coverage for losses due to unforeseen
            events, including cyber attacks.
        </p>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Membership:</span>
            Public sector schools can join the RPA, which offers a range of benefits including access to
            expert support during incidents.
        </p>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Conditions:</span>
            To be eligible for cyber cover, schools must meet specific conditions such as having offline
            backups, completing NCSC cyber security training, registering with Police CyberAlarm, and having a
            Cyber Response Plan.
        </p>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Benefits:</span>
            Joining the RPA provides schools with a vital safety net, ensuring they have the support needed to
            recover from cyber incidents. Expert help is available 24/7 with RPA cover, just a phone call away
            should an incident occur.
        </p>
        <br>

        {{ govukButton({
        text: "Join the Risk Protection Arrangement (RPA) for schools",
        href: "#",
        isStartButton: true
        }) }}

    </div>
</div>


{% endblock %}