{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
{% from "layouts/components/page-intro-banner.html" import pageIntroBanner %}
{% from "layouts/components/blue-content-box.html" import blueContentBox %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
{{ pageIntroBanner(
"What to look for in a cyber security supplier",
" ",
[
{
text: "Home",
href: "/home.html"
},
{
text: "Protect your school against cyber attacks",
href: "/protect-school-landing-page.html"
},
{
text: "What to look for in a cyber security supplier"
}
]
) }}
{% endblock %}



<!-- body content  -->
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">Evaluating cyber security suppliers thoroughly will ensure they meet the required
            standards and reduce the likelihood of a <a href="#" class="govuk-link">supply chain attack.</a></p>

        <h2 class="govuk-heading-m">Principles of supply chain security</h2>

        <p class="govuk-body">Both the <a href="#" class="govuk-link">National Cyber Security Centre</a> (NCSC) and the
            <a href="#" class="govuk-link">National Protective Security
                Authority</a> (NPSA) provide substantial guidance about supplier security and protecting an
            organisation’s
            supply chain.
            <br><br>
            Principles 4-9 of the <a href="#" class="govuk-link">NCSC’s supply chain security guidance</a> looks at the
            need to establish control:  
        </p>
        <br>

        {% call blueContentBox() %}
        <h2 class='govuk-heading-m'>Principles 4-9:</h2>
        <ol class="govuk-list govuk-list--number govuk-list--spaced" start="4">
            <li>Communicate your view of security needs to your suppliers</li>
            <li>Set and communicate minimum security requirements for your suppliers</li>
            <li>Build security considerations into your contracting processes and require that your suppliers do the
                same</li>
            <li>Meet your own security responsibilities as a supplier and consumer</li>
            <li>Raise awareness of security within your supply chain</li>
            <li>Provide support for security incidents</li>
        </ol>
        {% endcall %}

        <h2 class="govuk-heading-m">Approaches to setting and communicating minimum security requirements</h2>

        <p class="govuk-body">The NCSC have <a href="#" class="govuk-link">case studies</a> (NCSC) that illustrate the
            different approaches that can be taken when setting and communicating the minimum security requirements for
            suppliers (covered in Principle 5). They also cover how the measures used to address one use case can be
            re-used for others.
            <br><br>
            The NCSC has guidance that <a href="#" class="govuk-link">helps medium to large organisations build
                confidence in the security of their
                supply chain.</a>
        </p>

        <h2 class="govuk-heading-m">Challenges in granting IT suppliers access to your networks</h2>
        <p class="govuk-body">
            In their guidance on <a href="#" class="govuk-link">IT supplier relationships</a>, the Information Commissioner’s Office (ICO) explores some of
            the challenges to granting IT suppliers access to an organisation's networks and assets. They also cover key
            considerations for implementing processes for acquiring, using, managing and exiting cloud services.
        </p>
    </div>
</div>


{% endblock %}