{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
{% from "layouts/components/page-intro-banner.html" import pageIntroBanner %}
{% from "layouts/components/blue-content-box.html" import blueContentBox %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
{{ pageIntroBanner(
"Why your school needs a response plan ",
" ",
[
{
text: "Home",
href: "/home.html"
},
{
text: "What you need to know",
href: "/respond-to-attack-landing-page"
},
{
text: "Why your school needs a response plan"
}
]
) }}
{% endblock %}



<!-- body content  -->
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">This section provides business justifications for meeting good cyber security incident
            management.</p>
        <h2 class="govuk-heading-m">Key missions a cyber response plan supports</h2>

        {% call blueContentBox() %}
        <h2 class='govuk-heading-m'>1. Safeguarding of learners and staff</h2>
        <p class='govuk-body'>A response plan supports safeguarding by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>enabling early identification and swift response to safeguarding-related threats</li>
            <li>ensuring that system supporting safeguarding remain available during system outages or attacks</li>
        </ul>
        {% endcall %}

        {% call blueContentBox() %}
        <h2 class='govuk-heading-m'>2. Continuity of teaching and learning</h2>
        <p class='govuk-body'>A response plan supports safeguarding by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>allowing proactive identification of threats that could interrupt classes or assessments</li>
            <li>ensuring recovery plans are in place if digital learning systems are compromised</li>
        </ul>
        {% endcall %}

        {% call blueContentBox() %}
        <h2 class='govuk-heading-m'>3. Compliance with legal, contractual and regulatory duties</h2>
        <p class='govuk-body'>A response plan supports various duties by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>having control of access, modification or deletion of sensitive information</li>
            <li>ensuring compliance with requirements to maintain services and recover from incidents</li>
            <li>enabling compliance with conditions for insurance schemes or Risk Protection Arrangement (RPA)</li>
        </ul>
        {% endcall %}

        {% call blueContentBox() %}
        <h2 class='govuk-heading-m'>4. Efficient, trustworthy education and administrative operations</h2>
        <p class='govuk-body'>A response plan supports operations by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>ensuring schools remain functional despite digital disruption</li>
        </ul>
        {% endcall %}

        {% call blueContentBox() %}
        <h2 class='govuk-heading-m'>5. Public trust and reputation</h2>
        <p class='govuk-body'>A response plan supports reputation by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>preventing incidents where possible and responding effectively when incidents occur</li>
            <li>reassuring legal guardians, staff and external bodies that the school is resilient to attack or system
                failure</li>
        </ul>
        {% endcall %}

        <h2 class="govuk-heading-m">Key mission definitions</h2>

        <p class="govuk-body">
            <b>Safeguarding of learners and staff</b>
            <br />
            Duty to protect the physical, emotional, and digital safety of pupils and employees.
        </p>
        <p><b>Continuity of teaching and learning</b>
            <br />
            Ensure learning has minimal interruption due to IT issues or cyber incidents.
        </p>
        <p><b>Compliance with legal, contractual and regulatory duties</b>
            <br />
            Meet obligations under UK GDPR, DPA 2018, Keeping Children Safe in Education (KCSIE), Prevent Duty and Ofsted frameworks.
        </p>
        <p><b>Efficient, trustworthy education and administrative operations</b>
            <br />
            Maintain confidence in administrative and financial systems, for example payroll, Management Information Systems and parent communications.
        </p>
        <p><b>Public trust and reputation</b>
            <br />
            Uphold the setting's reputation in the local and wider community.
        </p>
        </p>



    </div>
</div>


{% endblock %}