{% macro fullWidthCard(imagePath, label, title, linkUrl, description, linkText="Find out more") %}
<section class="dfe-full-width-card">
  <div class="govuk-width-container">
    <div class="dfe-full-width-card__inner">
      <div class="dfe-full-width-card__image" style="background-image: url('{{ imagePath }}');"></div>

      <div class="dfe-full-width-card__content">
        {% if label %}
          <p class="dfe-full-width-card__label">{{ label }}</p>
        {% endif %}

        <h2 class="dfe-full-width-card__title">{{ title }}</h2>
        <br>
        {% if description %}
          <p class="dfe-full-width-card__description">{{ description }}</p>
        {% endif %}
        <br>
        {% if linkUrl %}
          <p class="dfe-full-width-card__more">
            <a href="{{ linkUrl }}" class="dfe-full-width-card__link">{{ linkText }}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endmacro %}
