{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- HERO BANNER -->
{% block beforeContent %}
{{ heroBanner(
"/public/images/home-page-banner.png",
"Cyber Security Hub",
"Information on what you need to know and do to prepare your school."
) }}
{% endblock %}

<!-- BODY CONTENT -->
{% block content %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <br>

        <div class="two-cards-full-width">
            <div class="dfe-card">
                <img src="/public/images/What-you-can-do-now.png" alt="Sample Image">
                <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                        <a href="/protect-school-landing-page.html"
                            class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                            What you can do now
                        </a>
                    </h3>
                    <p>Steps you can take to protect, prevent and prepare for a cyber attack.</p>
                </div>
            </div>
            <div class="dfe-card">
                <img src="/public/images/What-you-need-to-know.png" alt="Sample Image">
                <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                        <a href="/respond-to-attack-landing-page.html"
                            class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                            What you need to know
                        </a>
                    </h3>
                    <p>Understand cyber security and how to respond to attacks.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}