{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- HERO BANNER -->
{% block beforeContent %}
{{ heroBanner(
"/public/images/home-page-banner.png",
"Welcome to the <br> Cyber Security Hub",
"All the cyber security resources your school needs, in one trusted place."
) }}
{% endblock %}

<!-- BODY CONTENT -->
{% block content %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-l">
            Explore our resources by selecting an area of focus below.
        </p>

        <div class="two-cards-full-width">
            <div class="dfe-card">
                <img src="/public/images/i-want-to-protect-my-schools-card-image.png" alt="Sample Image">
                <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                        <a href="/protect-school-landing-page.html"
                            class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                            I want to protect my school against cyber attacks
                        </a>
                    </h3>
                    <p></p>
                </div>
            </div>
            <div class="dfe-card">
                <img src="/public/images/i-want-to-know-how-to-handle-cyber-attack-card-image.png" alt="Sample Image">
                <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                        <a href="/respond-to-attack-landing-page.html"
                            class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                            I want to know how to handle a cyber attack
                        </a>
                    </h3>
                    <p></p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}