{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- HERO BANNER -->
{% block beforeContent %}
{{ heroBanner(
"/public/images/printables-grey-card.png",
"Printable resources",
"From posters to display around your building to practical checklists, these printable resources have been designed to
increase cyber security awareness in your setting."
) }}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/home.html"
},
{
text: "What you can do now",
href: "/protect-school-landing-page"
},
{
text: "Printable resources"
}
]
}) }}
{% endblock %}

<!-- BODY CONTENT -->
{% block content %}



<h2> Posters </h2>

{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/fact-sheet-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/posters/fact-sheet",
"openInNewTab": false,
"heading": "Cyber security: what you need to know and do"
},
{
"imageCard": true,
"imagePath": "/public/images/casestudy-poster-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/posters/case-study-poster",
"openInNewTab": false,
"heading": "Case study - One trust's story"
}
]
}) }}

<h2> Checklists </h2>

{{ card({
cards: [

{
"imageCard": true,
"imagePath": "/public/images/checklist-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/posters/checklist",
"openInNewTab": false,
"heading": "Actions to build cyber resilience"
}
]
}) }}



{% endblock %}