{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- HERO BANNER -->
{% block beforeContent %}
{{ heroBanner(
"/public/images/protect-your-school-banner.png",
"Protect your school against cyber attacks",
"Build a solid understanding of cyber security and take practical steps to strengthen your setting's cyber resilience."
) }}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/home.html"
},
{
text: "Protect your school against cyber attacks"
}
]
}) }}
{% endblock %}

<!-- BODY CONTENT -->
{% block content %}

<h2> Understand and implement </h2>

{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/cyber-standards-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/our-cyber-standards.html",
"openInNewTab": false,
"heading": "Our cyber security standards",
"description": "Explore the standards and learn how to meet them."
},
{
"imageCard": true,
"imagePath": "/public/images/MFA-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "Multi-factor authentication (MFA) ",
"description": "How MFA works to strengthen your setting’s security."
},
{
"imageCard": true,
"imagePath": "/public/images/321-backup-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "The 3-2-1 backup strategy",
"description": "Why multiple backups matter and how to pick a platform."
}
]
}) }}
<br>
{{ fullWidthCard(
"/public/images/case-studies-grey-card.png",
"",
"Case studies",
"#",
"Learn from real-life examples of how schools responded to cyber incidents."
) }}
<br>

<h2> Key considerations </h2>
{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/roles-and-responsibilities-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "Cyber security roles and responsibilities",
"description": "See the actions all staff should be taking and those that are role specific."
},
{
"imageCard": true,
"imagePath": "/public/images/what-to-look-for-in-supplier-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "What to look for in a cyber security supplier ",
"description": "How vetting suppliers can help prevent supply chain cyber threats."
},
{
"imageCard": true,
"imagePath": "/public/images/risk-protection-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "DfE Risk Protection Arrangement (RPA)",
"description": "Learn about this alternative to commercial cyber security insurance."
}
]
}) }}

<br>
{{ fullWidthCard(
"/public/images/printables-grey-card.png",
"",
"Free printables",
"#",
"Promote cyber security awareness in your school with these checklists and posters."
) }}
<br>

<h2> Services and initiatives we recommend </h2>
{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/plan-your-tech-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "Plan technology for your school",
"description": "See how this free self-assessment service can help your school meet our cyber standards."
},
{
"imageCard": true,
"imagePath": "/public/images/support-from-NCSC-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "The National Cyber Security Centre",
"description": "How vetting suppliers can help prevent supply chain cyber threats."
},
{
"imageCard": true,
"imagePath": "/public/images/cyber-essentials-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "Cyber Essentials Certification",
"description": "Find out more about staying cyber secure with this government-backed scheme."
}
]
}) }}

{% endblock %}