{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}
{% from "layouts/components/info-row.html" import infoRow %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- HERO BANNER -->
{% block beforeContent %}
{{ heroBanner(
"/public/images/protect-your-school-banner.png",
"What you can do now ",
"Steps you can take to protect, prevent and prepare for a cyber attack"
) }}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/home.html"
},
{
text: "What you can do now"
}
]
}) }}
{% endblock %}

<!-- BODY CONTENT -->
{% block content %}

<h2>Preventative measures to take</h2>

{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/MFA-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/MFA",
"openInNewTab": false,
"heading": "Multi-factor authentication (MFA) ",
"description": "How MFA works to strengthen your setting’s security."
},
{
"imageCard": true,
"imagePath": "/public/images/321-backup-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/321-backup",
"openInNewTab": false,
"heading": "The 3-2-1 backup strategy",
"description": "Why multiple backups matter and how to pick a platform."
}
]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2>Raise awareness in your school</h2>

{{ fullWidthCard(
"/public/images/printables-grey-card.png",
"",
"Printable resources",
"/printables-landing-page",
"Checklists and posters to promote cyber security awareness in your school."
) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2> Have the right documentation in place</h2>
{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/create-cyber-response-plan-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/creating-cyber-response-plan",
"openInNewTab": false,
"heading": "Create your cyber response plan",
"description": "Create a plan to help your school respond to a cyber incident."
},
{
"imageCard": true,
"imagePath": "/public/images/keeping-a-record-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/keeping-a-record",
"openInNewTab": false,
"heading": "Record keeping in an incident",
"description": "Find out how clear documentation supports compliance and provides protection."
},
{
"imageCard": true,
"imagePath": "/public/images/Assessing-the-impact-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/assessing-the-impact",
"openInNewTab": false,
"heading": "Assess and document the incident’s impact",
"description": "Determine your incident’s scope and choose an appropriate response."
}
]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2> Explore more ways to protect your school </h2>
{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/plan-your-tech-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/plan-tech",
"openInNewTab": false,
"heading": "Self-assess your school",
"description": "Use the plan technology self-assessment service to help your school meet  cyber standards."
},
{
"imageCard": true,
"imagePath": "/public/images/support-from-NCSC-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/support-from-NCSC",
"openInNewTab": false,
"heading": "Recommended initiatives",
"description": "Explore the National Cyber Security Centre’s recommendations that can help schools."
},
{
"imageCard": true,
"imagePath": "/public/images/cyber-essentials-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "#",
"openInNewTab": false,
"heading": "Cyber Essentials Certification",
"description": "Find out more about staying cyber secure with this government-backed scheme."
},
{
"imageCard": true,
"imagePath": "/public/images/what-to-look-for-in-supplier-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/what-to-look-for-in-supplier",
"openInNewTab": false,
"heading": "Finding and choosing a cyber security supplier",
"description": "Know what to look for if you are procuring a cyber security supplier."
},
{
"imageCard": true,
"imagePath": "/public/images/risk-protection-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/risk-protection",
"openInNewTab": false,
"heading": "DfE Risk Protection Arrangement (RPA)",
"description": "Learn about this alternative to commercial cyber security insurance."
}
]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2>Other organisations that can help </h2>

{{ infoRow({
imageSrc: "/public/images/Education data hub.png",
imageAlt: "Education Data Hub",
heading: "Education Data Hub",
linkHref: "https://educationdatahub.org.uk/",
bodyText: "School-focused support for cyber security, data management and data protection."
}) }}

{{ infoRow({
imageSrc: "/public/images/ICO.png",
imageAlt: "ICO",
heading: "Information Commissioner’s Office",
linkHref: "https://ico.org.uk/for-organisations/advice-for-small-organisations/information-security/",
bodyText: "Advice to help schools understand data protection principles and cyber security best practice."
}) }}

{{ infoRow({
imageSrc: "/public/images/police.png",
imageAlt: "police",
heading: "UK Police",
linkHref: " ",
bodyText: "Get police guidance on protecting yourself from cyber crime."
}) }}

{{ infoRow({
imageSrc: "/public/images/Action-Fraud-Logo.png",
imageAlt: "Action-Fraud-Logo",
heading: "Action Fraud",
linkHref: " ",
bodyText: "Find out about the different types of cyber fraud and how to report them."
}) }}
<!-- {{ infoRow({
imageSrc: "/public/images/GOV DFE.png",
imageAlt: "GOV DFE image",
heading: "DfE Cyber Security Standards",
linkHref: "https://www.gov.uk/guidance/meeting-digital-and-technology-standards-in-schools-and-colleges/cyber-security-standards-for-schools-and-colleges",
bodyText: "Tailored for the education sector, these standards support schools and colleges in building cyber
resilience."
}) }} -->

<!-- {{ infoRow({
imageSrc: "/public/images/NCSC.png",
imageAlt: "NCSC",
heading: "National Cyber Security Centre",
linkHref: "https://www.ncsc.gov.uk/section/education-skills/schools",
bodyText: "Guidance to help businesses and the public sector protect the online services and devices they depend on."
}) }} -->


{% endblock %}