{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- HERO BANNER -->
{% block beforeContent %}
{{ heroBanner(
"/public/images/handle-cyber-attack-banner.png",
"How to handle a cyber attack",
"Helping you contain, eradicate and recover from a cyber incident."
) }}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/home.html"
    },
    {
      text: "How to handle a cyber attack"
    }
  ]
}) }}
{% endblock %}

<!-- BODY CONTENT -->
{% block content %}

{{ fullWidthCard(
  "/public/images/be-response-ready-grey-card.png",
  "",
  "Be response ready",
  "#",
  "A detailed breakdown of the response process to help your team respond efficiently and minimise impact."
) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2> Understanding cyber incidents and processes  </h2>

{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/Introduction-to-cyber-incident-management-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/intro-to-cyber-incident-and-management",
"openInNewTab": false,
"heading": "Introduction to cyber incident management and response",
"description": "Build your understanding of the full process through this detailed overview."
},
{
"imageCard": true,
"imagePath": "/public/images/Incident-management-vs-response-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/incident-management-vs-response",
"openInNewTab": false,
"heading": "Incident management vs. incident response",
"description": "Understand the differences between these cyber security terms."
},
{
"imageCard": true,
"imagePath": "/public/images/why-your-school-needs-a-plan-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/why-your-school-needs-a-plan",
"openInNewTab": false,
"heading": "Why your school needs a response plan",
"description": "Explore the business justification for having a response plan in place."
}
]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2> Being one step ahead  </h2>

{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/preparing-for-cyber-incident-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/preparing-for-incident",
"openInNewTab": false,
"heading": "Preparing for a cyber incident",
"description": "Learn how to be prepared for quick, effective incident response."
},
{
"imageCard": true,
"imagePath": "/public/images/The-different-types-of-incidents-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/different-types-of-incidents",
"openInNewTab": false,
"heading": "The different types of incidents",
"description": "Guidance for identifying incidents from symptoms and indicators."
},
{
"imageCard": true,
"imagePath": "/public/images/create-cyber-response-plan-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/creating-cyber-response-plan",
"openInNewTab": false,
"heading": "Create your cyber response plan",
"description": "Tailor this template for your setting to build a response plan that works."
}
]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2> Key considerations  </h2>

{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/Assessing-the-impact-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/assessing-the-impact",
"openInNewTab": false,
"heading": "Assessing the impact the incident may have",
"description": "Support in assessing an incident’s scope to help you choose an appropriate response."
},
{
"imageCard": true,
"imagePath": "/public/images/keeping-a-record-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/keeping-a-record",
"openInNewTab": false,
"heading": "Keeping a record of any incidents that occur",
"description": "Find out how clear documentation supports compliance and provides protection."
},
{
"imageCard": true,
"imagePath": "/public/images/managing-incidents-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/managing-incidents",
"openInNewTab": false,
"heading": "Managing incidents with fully sourced IT",
"description": "Understand your setting’s responsibilities when using a third-party provider."
}
]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{{ fullWidthCard(
  "/public/images/playbooks-grey-card.png",
  "",
  "Let our playbooks lead your attack response",
  "/playbooks-landing-page",
  "Incident-specific support to guide you through each stage of the response process."
) }}

{% endblock %}