{% extends "layouts/main.html" %}
{% from "layouts/components/hero-banner.html" import heroBanner %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
{% from "layouts/components/info-row.html" import infoRow %}
{% from "layouts/components/full-width-card.html" import fullWidthCard %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- HERO BANNER -->
{% block beforeContent %}
{{ heroBanner(
"/public/images/handle-cyber-attack-banner.png",
"What you need to know ",
"Understand cyber security and how to respond to attacks."
) }}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/home.html"
},
{
text: "What you need to know "
}
]
}) }}
{% endblock %}

<!-- BODY CONTENT -->
{% block content %}

<h2> Understanding cyber incidents and processes </h2>

{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/cyber-standards-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/our-cyber-standards",
"openInNewTab": false,
"heading": "Our cyber security standards",
"description": "Explore the standards and learn how to meet them."
},
{
"imageCard": true,
"imagePath": "/public/images/Introduction-to-cyber-incident-management-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/intro-to-cyber-incident-and-management",
"openInNewTab": false,
"heading": "Introduction to cyber incident management and response",
"description": "Build your understanding of the full process through this detailed overview."
},
{
"imageCard": true,
"imagePath": "/public/images/The-different-types-of-incidents-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/different-types-of-incidents",
"openInNewTab": false,
"heading": "The different types of incidents",
"description": "Guidance for identifying incidents from symptoms and indicators."
}
]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2> What you should know before an incident happens </h2>

{{ fullWidthCard(
"/public/images/be-response-ready-grey-card.png",
"",
"Be response ready",
"#",
"A detailed breakdown of the response process to help your team respond efficiently and minimise impact."
) }}

{{ card({
cards: [
{
"imageCard": true,
"imagePath": "/public/images/preparing-for-cyber-incident-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/preparing-for-incident",
"openInNewTab": false,
"heading": "Preparing for a cyber incident",
"description": "Learn how to be prepared for quick, effective incident response."
},
{
"imageCard": true,
"imagePath": "/public/images/why-your-school-needs-a-plan-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/why-your-school-needs-a-plan",
"openInNewTab": false,
"heading": "Why your school needs a response plan",
"description": "Explore the business justification for having a response plan in place."
},
{
"imageCard": true,
"imagePath": "/public/images/roles-and-responsibilities-card-image.png",
"altText": "Sample Image",
"headingLevel": "3",
"linkCard": true,
"link": "/sub-pages/roles-and-responsibilities",
"openInNewTab": false,
"heading": "Cyber security roles and responsibilities",
"description": "See the actions all staff should be taking and those that are role specific."
}
]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2> Know how to respond to specific incidents</h2>

{{ fullWidthCard(
"/public/images/playbooks-grey-card.png",
"",
"Let our playbooks lead your attack response",
"/playbooks-landing-page",
"Incident-specific support to guide you through each stage of the response process."
) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2> Advice from other schools</h2>

{{ fullWidthCard(
"/public/images/case-studies-grey-card.png",
"",
"Case studies",
"#",
"Learn from real-life examples of how schools responded to cyber incidents."
) }}



<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2> Quick links </h2>

{{ infoRow({
imageSrc: "/public/images/police.png",
imageAlt: "police",
heading: "UK Police",
linkHref: " ",
bodyText: "Get police guidance on protecting yourself from cyber crime. if you are experiencing a real-time attack or
are in immediate danger, call 999 now."
}) }}

{{ infoRow({
imageSrc: "/public/images/ICO.png",
imageAlt: "ICO",
heading: "ICO",
linkHref: " ",
bodyText: "Report personal data breaches to the ICO within 72 hours of becoming aware, unless they are unlikely to pose
a risk to individuals’ rights and freedom."
}) }}

{{ infoRow({
imageSrc: "/public/images/Action-Fraud-Logo.png",
imageAlt: "Action-Fraud-Logo",
heading: "Action Fraud",
linkHref: " ",
bodyText: "Reporting the incident to Action Fraud will provide a crime reference number and the National Fraud
Intelligence Bureau notified."
}) }}

{% endblock %}