{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{# ================= HEAD (loads GTM script) ================= #}
{% block head %}
  {{ super() }}
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
    var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
    j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
    f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WQJZN9GZ');
  </script>
  <!-- End Google Tag Manager -->
{% endblock %}


{# ================= BODY START (loads GTM noscript) ================= #}
{% block bodyStart %}
  {{ super() }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQJZN9GZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block header %}
<header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container dfe-header__inner">
        <div class="govuk-grid-row govuk-!-margin-0">
            <div class="govuk-grid-column-one-third govuk-!-padding-0">
                <div class="govuk-header__logo">
                    <a href="/" class="govuk-header__link govuk-header__link--homepage">
                        <img src="/public/images/department-for-education_white.png" alt="Department for Education"
                            class="govuk-header__logotype">
                    </a>
                </div>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
                <div class="govuk-header__search govuk-!-text-align-right">
                    <form role="search" class="govuk-header__search-form" action="#" method="get">
                        <input class="govuk-input govuk-header__search-input" id="site-search" name="search-field"
                            type="search" placeholder="Search Cyber Security Hub" autocomplete="off">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


{{ govukServiceNavigation({
serviceName: "Cyber Security Hub",
serviceUrl: "/home",
navigation: [
{
href: " ",
text: "Link 1"
},
{
href: " ",
text: "Link 2"
},
{
href: " ",
text: "Link 3"
},
{
href: " ",
text: "Link 4"
}

]
}) }}
<div class="govuk-width-container">
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://forms.microsoft.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-asD423r5iJLj-lQOErsCVVUNUFUUElFUU5XUTNTREtLQ1BZWDFXRDZITi4u" rel="noreferrer noopener" target="_blank">give your feedback (opens in new
    tab)</a>.'
}) }}
</div>


{% endblock %}