{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block header %}
<header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container dfe-header__inner">
        <div class="govuk-grid-row govuk-!-margin-0">
            <div class="govuk-grid-column-one-third govuk-!-padding-0">
                <div class="govuk-header__logo">
                    <a href="/" class="govuk-header__link govuk-header__link--homepage">
                        <img src="/public/images/department-for-education_white.png" alt="Department for Education"
                            class="govuk-header__logotype">
                    </a>
                </div>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
                <div class="govuk-header__search govuk-!-text-align-right">
                    <form role="search" class="govuk-header__search-form" action="#" method="get">
                        <input class="govuk-input govuk-header__search-input" id="site-search" name="search-field"
                            type="search" placeholder="Search Cyber Security Hub" autocomplete="off">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


{{ govukServiceNavigation({
serviceName: "Cyber Security Hub",
serviceUrl: "/home",
navigation: [
{
href: "/protect-school-landing-page",
text: "What you can do"
},
{
href: "/respond-to-attack-landing-page",
text: "What you need to know"
}
]
}) }}
<div class="govuk-width-container">
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://forms.microsoft.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-asD423r5iJLj-lQOErsCVVUNUFUUElFUU5XUTNTREtLQ1BZWDFXRDZITi4u" rel="noreferrer noopener" target="_blank">give your feedback (opens in new
    tab)</a>.'
}) }}
</div>


{% endblock %}